markup=1
actions=1

# Format
font={{font.normal.family}} {{font.normal.size}}
border-color={{border.inactive}}
border-size={{border.width}}
border-radius={{border.radius}}
margin={{gaps.inner}},{{gaps.inner}},{{gaps.inner}},{{gaps.inner}}
padding={{padding.y}},{{padding.x}},{{padding.y}},{{padding.x}},
outer-margin={{gaps.outer}},{{gaps.outer}},{{gaps.outer}},{{gaps.outer}}
background-color={{dialog.bg}}
text-color={{dialog.fg}}
width={{35 * font.normal.size + padding.x * 2}}
height={{25 * font.normal.size}}
